@charset "UTF-8";
/*공통 CSS*/
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

/*공통 Header부분 */
#nav {
	display: flex;
	height: 50px;
	background-color: #555;
	color: #fff;
	align-items: center;
}

.items {
	margin-left: 20px;
}

.items:nth-last-of-type(2) {
	margin-left: auto;
}

.items:nth-last-of-type(1) {
	margin-right: 20px;
}

#nav > .items > a {
    color: #fff;
    text-decoration: none;
}


/* 푸터부분 CSS */
#footer {
	height: 150px;
	display: flex;
	background-color: #555;
	color: #fff;
	align-items: center;
	justify-content : center;
}