@charset "UTF-8";

* {box-sizing: border-box;}
a {text-decoration: none;}
body { margin: 0; padding: 0; background-color: #f0f8ff;}
#Login_main { max-width: 600px; margin: 20px auto; }
#Login_main form input { width: 100%; height: 50px; padding: 5px 10px; margin: 0 0 16px 0;}
#Login_main > h1 { text-align: center; }
.btn_submit {
    padding: 8px 28px;
    border: 1px solid #68a1d3;
    border-radius: 5px;
    background: #e7ebfd;
    font-size: 16px;
	}
.cont_box {
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 60%;
    padding: 90px 50px;
    text-align: center;
    font-size: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #c7e8ec;
    color: #022732;
}
.nav_wrap {     
	display: flex;
    justify-content: flex-end; 
    padding: 20px 14px;
    }
.btn_link {
	max-width: 123px;    
    text-align: center;   
    padding: 8px 28px;
    margin:0 0 0 10px;
    background-color: #000e4d;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}
.nav_wrap > a {
	padding: 8px 20px;
    margin: 0 5px;
    background-color: #022732;
	}
.menu_wrap{
    display: inline-flex;
    flex-direction: column;
    width: 192px;
	background-color: #fff;
    margin: 5px 0 0 22px;
}
.menu_wrap > a {
	padding: 8px 20px;
    margin: 5px 5px;
    background-color: #e5e6e7;
	}

#MyInfoBox{
	margin: 50px auto;
    max-width: 540px
}
#MyInfoBox>input {
    padding: 8px 10px;
    margin: 0 0 10px 0;
    font-size: 18px;
}
