* { box-sizing: border-box; }
body { margin: 0; padding: 0; }

#joinBox {
    max-width: 600px;
    padding: 10px;
    margin: 50px auto 10px;
}

#joinBox>h1 {
    text-align: center;
}

#joinBox .inputCommonStyle {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

p.errMsgShow {
    color: red;
    display: block;
    margin-top : 0;
}


p.errMsgHide {
    display: none;
}

#imgWrap {
    position: relative;
}

#viewEye{
    position: absolute;
    width : 32px;
    height : 32px;
    top : 10px;
    right: 15px;
}